<div class="mt-5 d-flex justify-content-center ">
  <div class="mt-5 col-sm-12 col-xs-12 col-md-4 bg-info">
    <div class="mt-5 col text-center">
      <h2 class="text-white">LOGIN</h2>
    </div>
    <div class="mt-5 col form-group">
      <div>
        <label for="usuario" class="font-weight-bold text-white">Usuário</label>
        <input type="text" class="form-control" id="usuario" />
      </div>
    </div>
    <div class="form-group col">
      <div>
        <label for="password" class="font-weight-bold text-white">Senha</label>
        <input type="password" class="form-control" id="password" />
      </div>
    </div>
    <div class="mb-5 form-group col">
      <div>
        <button class="btn btn-light btn-lg btn-block btn-sm">Entrar</button>
      </div>
    </div>
  </div>
</div>
